<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylsheet" href='{{url_for("static", filename="home.css")}}'>
    <title>Document</title>
</head>
<body>
  <button onclick="testfun()">Click Me</button>
  {% for time in data %}
    <p>Date: {{time.month}}, {{time.day}} {{time.year}}, {{time.hour}}:{{time.minute}}:{{time.second}}</p>
  {% endfor %}
  <script src='{{url_for("static", filename="testfun.js")}}'></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js">
        
    </script>
</body>
</html>
